{% extends "todo_app/base.html" %}

{% block title %}
TODO APP - Hakkında
{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center>Projeni Yönet!</center></h1>
      <p class="lead"><center>Burada projelerini yönetebilir, iş durumlarını gözden geçirebilirsin.</center></p>
      <center><button type="button" class="btn btn-outline-success">Yeni Görev Ekle</button></center>
    </div>
  </div>
{% endblock content %}